*{
    margin: 0;
    padding: 0;
    font-family:  "Outfit", serif;
}


/* NAV */

nav{
    background: #131921;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.nav-country{
    display: flex;
    align-items: center;
    gap: 5;
}

.search-box{
    display: flex;
    height: 40px;
    border: none;
}

select{
    border: none;
    outline: none;
    border-radius: 4px;
    margin-right: -6px;
    height: 40px;
    background: #f0e5e5;
    width: 100px;

}

body{
    background: #E3E6E6;
}

input{
    width: 450px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.button{
    padding: 5PX;
    background-color: #FEBD69;
    border-radius: 6px;
    margin-left: -12px;
}

.flag{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart{
    display: flex;
    align-items: center;
    gap: 10px;
}

.categories{
    background: #232F3E;
    padding-inline: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 30px;
}

.categories a{
    color: white;
    text-decoration: none;
    padding-block: 10px;
}

.categories div{
    display: flex;
    align-items: center;
}

.header-slider ul{
    display: flex;
    overflow-y: hidden;
    padding: 0;
}

.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%,transparent 100%);
    transition:transform 0.5s ease-in-out ;

}

.header-slider a{
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 40%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
    margin-left: 20px;
}

.control-next{
    right: 20px;
    
}

.title{
    position: absolute;
    top: 55%;
    width: 90%;
    background: #fff;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    margin-inline: 50px;
       
}

.box-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 30px;
    margin-top: -20%;
    
}

.box-col{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    gap: 10px;
    max-width: 24%;
    min-height: 200px;
    margin: 15px;
    z-index: 1;
}

.box-col img{
    width: 250px;
}

.box-col a{
    color: #44627A;
    text-decoration: none;
}


.product-slider{
    background: #fff;
    margin: 10px 50px;
    padding: 20px;
    margin-bottom: 15px;
}


.product-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 15px;;

}

.product-slider .products::-webkit-scrollbar{
    display: none;
}

.product-slider .products img{
    max-width: 200px;
    max-height: 200px;
}

.boxes-row{
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
}

.grid-boxes{
    margin: 10px 30px;
    display: flex;

}

.grid-box{
    background-color: #fff;
    padding: 15px;
    margin: 30px 10px;
     width: 20%;
}

.grid-box h1{
    font-size: 20px;
    text-align: start;
    margin-left: 5px;
}

.pros{
    display: flex;
    overflow: none;
    flex-wrap: wrap;
}

.pro p{
    font-size: 14px;
    color: #555;
    text-align: center;
}

.pro img{
    width: 120px;
    padding: 10px
}

.grid-box a{
    text-decoration: none;
    color: #44627A;
    margin-left: 5px;
}


/* Best Seller */

section.best-seller{
    margin: 20px 40px;
}

.items{
    display: flex;
    overflow: auto;
    padding-top: 10px;
    margin-top: 20px;
    position: relative;
}

.items img{
    height: 250px;
}

.items a{
    text-decoration: none;
    font-size: 45px;
    color: black;
    position: absolute;
    top: 40%;
    padding: 10px;
    background-color: #ddd;
}

.next{
    right: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    /* margin-top: 40px; */
    background-color: white;
padding: 50px; 
border-radius: 8px;
margin-top: 20px;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;

  }

  .swiper-slide img {
    width: 100%; 
      max-width: 20rem; 
      height: 250px;
      aspect-ratio: 4/4;

      background-color: #fff;
    padding-inline: 20px;
  }

 

  .swiper-button-prev:after, .swiper-button-next:after{
    color: #000;
    padding: 10px;
    background: #dddd;
  }

  section.best-seller.mySwiper{
    background-color: #fff;

  }

#bc{
    background-color: #37475A;
    text-align: center;
    padding: 20px;
    color: #fff;
  }

  .foot-cols{
    padding:30px 80px;
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: #232F3E;
    color: #fff;
  }


  .foot-cols h3{
    margin-bottom: 20px;
  }

  
  .foot-cols li{
    list-style: none;
    padding-block: 2px;
  }


  @media (max-width:768px) {
    
    .box-row{
        overflow-x: auto;
        margin-top: 20px;
        flex-wrap: nowrap;
        margin-top:0px
    }

    .boxes-row{
        overflow-x: auto;
        margin-top: 20px;
        flex-wrap: nowrap;

    }
    .box-col{
        max-width: 100%;
        flex-basis: 100%;
    }

    .grid-boxes{
        flex-direction: column;
    
    }
   
    .grid-box{
        width: 100%;
        margin: 10px auto;
    }

    .swiper-slide img {
        width: 100%;
          max-width: 10rem; 
          height: 150px;
          aspect-ratio: 4/4;
        background-color: #fff;
        padding-inline: 20px;
      }
    
      .foot-cols{
        padding: 10px;
        flex-wrap: wrap;
        font-size: 80%;
        justify-content: center;
        gap: 10px

      }

        
  .foot-cols li{
    list-style: none;
    padding-block: 0px;
    font-weight:400;
    font-size:90%
  }

      .foot-cols .col{
        margin-top: 10px;
        width: 45%;

      }

      nav{
        flex-wrap: wrap;
        font-size: 80%;
      }
  
      input{
        width: 210px;
      }

   
      
      .foot-cols h3{
        margin-bottom: 5px;
      }

      .nav-country{
        flex-direction: column;
                  font-size: 90%;

      }

      nav{
        padding: 6px 14px;
      }

           .title{
        position: absolute;
        top: 40%;
            
        width: 90%;
        font-size: 10px;
        margin-bottom:20px;
     margin-inline:10px;

            padding:5px
        
      }

      select{
      
        width: 100px;
        font-size: 90%;
        padding:2px;
    
    }

        .categories{    
        gap:10px;
                    padding-inline:15px;

    }

      .header-slider a{
    top: 30%;
    padding: 2vh 1vw;
    background: #ffffff4f;
    font-size: 18px;
}
    
    .categories a{
        font-size: 16px;
        padding-block:6px;
    }

      
}


